* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}
.containrPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #0000004a;
}
img {
  width: 100%;
  height: 100%;
}

#button {
  padding: 15px 30px;
  font-size: 25px;
  font-family: system-ui;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  background-color: darkslateblue;
  color: white;
  text-decoration: none;
  z-index: 100;
  position: fixed;

}
#button:hover {
  background-color: #D00A47;
  border: solid 1px royalblue;
  font-weight: bold;
}