* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  transition: .1s;
  -webkit-box-sizing: border-box;
  -moz-sizing: border-box;
  -o-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background-color: #FF8800;
  color: #fff;
}

::-webkit-scrollbar {
  background-color: #111111;
}

::-webkit-scrollbar-thumb {
  transition: 0.3s;
  background-color: #F3AF3E;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FFAA00;
}

@font-face {
  font-family: "Tajawal";
  src: url(./fonts/Tajawal-Black.ttf);
}

@font-face {
  font-family: "TajawalOne";
  src: url(./fonts/Tajawal-Medium.ttf);
}

body {
  text-align: center;
  background-color: #111111;
  font-family: "TajawalOne";
}

.containrBoxShow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transition: .3s;
  transform: scale(0);
}
.boxShow {
  height: 350px;
  width: 400px;
  background-color: #ced4da;
  border-radius: 5px;
  position: fixed;
  z-index: 100;
}
.boxShow #spanClose {
  background-color: #FF9500;
  font-size: 20px;
  border-radius: 0px 5px 0px 5px;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: 0.3s;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxShow #spanClose:hover {
  transform: translate(-5px , 5px);
  transition-delay: .3s;
  color: white;
}

.containrPage {
  /* width: 70%; */
  width: 1300PX;
  background-color: #232323;
  margin: auto;
  /* padding-bottom: 50px; */
}

.containrPage header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131316;
  padding: 10px 0px;
}

.containrHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
}

.containrHeader .boxSearch {
  display: flex;
  align-items: center;
  width: 40%;
}

.containrHeader .boxSearch i {
  position: relative;
  right: 30px;
  font-size: 20px;
}


.containrPage header .boxSearch #btnSearch {
  padding: 10px;
  border-radius: 50px;
  border: none;
  width: 100%;
  font-size: 18px;
  text-align: center;
  caret-color: #F3AF3E;
}

.containrPage header #btnSearch:focus {
  border: solid 1px red;
  outline-color: #F3AF3E;
  /* background-color: aqua; */
}

/* .containrPage header img {
  cursor: pointer;
} */

.containrPage header .boxLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containrPage header .boxLogo h1 {
  color: #F3AF3E;
}

.containrPage .boxContent {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}

.containrPage .boxContent .divText {
  /* width: 50%; */
  width: 100%;
  margin: auto;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 80px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 15px;
  box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 50%);
  border: 1px solid hsla(0, 0%, 100%, .25);
}

.containrPage .boxContent .divText h2 {
  direction: rtl;
  color: #ced4da;
}

/* .containrPage .boxContent .divText h2 span {
  color: #F3AF3E;
} */

#mark {
  color: #F3AF3E;
}

.containrPage .boxContent .divText p {
  color: #ced4da;
}

.containrPage .boxContent .divText #button {
  color: black;
  padding: 12px 30px;
  /* background-color: #F3AF3E; */
  background: linear-gradient(to right, #FF7B00, #FF8800, #FF9500, #FFA200, #FFAA00, #FFB700, #FFC300, #FFD000, #FFDD00);
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite;
  border-radius: 50px;
  font-size: 16px;
  transition: 0.3s;
  margin-top: 20px;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  0% {
    background-position: 0 50%;
  }
}

.containrPage .boxContent .divText #button:hover {
  border-radius: 0px;
  font-weight: bold;
}

@media (max-width: 799px) {
  .containrPage {
    width: 100%;
  }

  .containrPage .containrHeader {
    flex-direction: column-reverse;
    gap: 5px;
  }

  .containrPage .containrHeader .boxSearch,
  .boxLogo {
    width: 100%;
  }
}

.displayToggle {
  display: none;
}

.containrPage .boxContentImg {
  width: 90%;
  margin: auto;
}

.containrPage .boxContentImg .divContentImg h2 {
  padding: 30px;
  color: #ced4da;
}

.containrPage .boxContentImg .divContentImg img {
  width: 100%;
  border-radius: 5px;
  filter: blur(5px);
  transition: 0.2s;
}

.containrPage .boxContentImg .divContentImg img:hover {
  cursor: pointer;
  filter: blur(0);
}

@media (min-width: 800px) and (max-width: 999px) {
  .containrPage {
    width: 780px;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .containrPage {
    width: 950px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .containrPage {
    width: 1050px;
  }
}

.bigBoxComments {
  width: 50%;
  margin: auto;
}

.bigBoxComments h1 {
  padding: 15px 0px;
  color: #F3AF3E;
  /* background-color: #F3AF3E;
  width: 50%;
  margin: auto; */
}

.bigBoxComments .timeline {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.bigBoxComments .timeline::before {
  content: "";
  background-color: #FFB700;
  width: 4px;
  position: absolute;
  /* left: -50px; */
  z-index: 1;
  height: 100%;
}

.bigBoxComments .timeline .bigBoxComment {
  display: flex;
  align-items: flex-start;
}

.bigBoxComments .timeline .boxImg {
  position: relative;
  left: -25px;
  z-index: 2;
  top: -5px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.bigBoxComments .timeline .boxImg img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.bigBoxComments .timeline .boxImg img:hover {
  transition: .3s;
  height: 55px;
  width: 55px;
  border: solid #FFB700 2px;
  
}

.bigBoxComments .timeline .boxContentComment {
  margin-bottom: 20px;
  /* padding: 15px; */
}

.bigBoxComments .timeline .boxContentComment .divcontent {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 5px;
  box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 50%);
  border: 1px solid hsla(0, 0%, 100%, .25);
  padding: 20px;
  min-height: 200px;
  width: 600px;
  transition: .3s;
  z-index: 5;
}

.bigBoxComments .timeline .boxContentComment .divcontent::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: inherit;
  z-index: 1;
  left: -10px;
  transform: rotate(45deg);
  transition: .3s;
}

.bigBoxComments .timeline .boxContentComment .divcontent:hover::before {
  background: #FFB700 !important;
  z-index: 10;
}

.bigBoxComments .timeline .boxContentComment .divcontent:hover {
  border: solid 1px #FFB700;
  box-shadow: #f3ae3e04 0px 2px 15px 0px;
}

.bigBoxComments .timeline .boxContentComment .devName {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 50px; */
}

.bigBoxComments .timeline .boxContentComment .devName span {
  font-size: 18px;
  font-weight: 500;
  color: white;
  height: 50px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigBoxComments .timeline .boxContentComment .devName #spanWorks {
  background: linear-gradient(to right, #FF7B00, #FF8800, #FF9500, #FFA200, #FFAA00);
  animation: color 5s ease-in-out infinite;
  background-size: 300% 300%;
}

.bigBoxComments .timeline .boxContentComment .devName a {
  background: linear-gradient(to right, #FF7B00, #FF8800, #FF9500, #FFA200, #FFAA00);
  animation: color 5s ease-in-out infinite;
  background-size: 300% 300%;
  border-radius: 50%;
  color: white;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigBoxComments .timeline .boxContentComment .devName a i {
  font-size: 20px;
}

.bigBoxComments .timeline .boxContentComment p {
  padding: 10px 0px;
  color: #ced4da;
  letter-spacing: 1px;
}

.bigBoxComments .timeline .boxContentComment #date {
  position: absolute;
  right: 0px;
  bottom: 0;
  padding: 10px 20px;
  color: #131316;
}

@media (max-width: 499px) {
  .bigBoxComments {
    width: 80%;
  }

  .bigBoxComments .timeline .boxContentComment .divcontent {
    width: 250px;
  }

  .bigBoxComments .timeline .boxContentComment .devName {
    flex-wrap: wrap;
    gap: 5px;
  }

  .bigBoxComments .timeline .boxContentComment .devName span {
    padding: 5px 2px;
    font-size: 12px;
    font-weight: 500;
    color: white;
  }

  .bigBoxComments .timeline .boxContentComment p {
    font-size: 12px;
  }
}

.classBorderSolid {
  border: 2px solid #FFB700 !important;
}

.classImgSize {
  height: 59px !important;
  width: 59px !important;
  transition: .3s;
}


@media (min-width: 500px) and (max-width: 799px) {
  .bigBoxComments {
    width: 80%;
  }

  .bigBoxComments .timeline .boxContentComment .divcontent {
    width: 350px;
  }

  .bigBoxComments .timeline .boxContentComment .devName {
    flex-wrap: wrap;
    gap: 5px;
  }

  .bigBoxComments .timeline .boxContentComment .devName span {
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    color: white;
  }

  .bigBoxComments .timeline .boxContentComment p {
    font-size: 15px;
  }
}

@media (min-width: 800px) and (max-width: 999px) {
  .bigBoxComments {
    width: 80%;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .bigBoxComments {
    width: 60%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .bigBoxComments {
    width: 60%;
  }
}

/* كود الفوتر */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 70px;
  background-color: #131316;
  width: 100%;
}

footer .containr {}

footer .containr h2 {
  color: #ced4da;
  font-size: 18px;
}