* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;

  -webkit-box-sizing: border-box;
  -moz-sizing: border-box;
  -o-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Tajawal";
  src: url(./fonts/Tajawal-Black.ttf);
}

@font-face {
  font-family: "TajawalOne";
  src: url(./fonts/Tajawal-Medium.ttf);
}
body {
  text-align: center;
  background-color: #111111;
  font-family: "TajawalOne";
}
.containrPage {
  /* width: 70%; */
  width: 1300PX;
  background-color: #232323;
  margin: auto;
  padding-bottom: 50px;
}

.containrPage header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131316;
  padding: 10px 0px;
}

.containrHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
}
.containrHeader .boxSearch {
  display: flex;
  align-items: center;
  width: 40%;
}
.containrHeader .boxSearch i {
  position: relative;
  right: 30px;
  font-size: 20px;
}


.containrPage header .boxSearch input {
  padding: 10px;
  border-radius: 50px;
  border: none;
  width: 100%;
  font-size: 18px;
  text-align: center;
}
.containrPage header input:focus {
  border: solid 1px red;
  outline-color: #F3AF3E;
  /* background-color: aqua; */
}

/* .containrPage header img {
  cursor: pointer;
} */

.containrPage header .boxLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containrPage header .boxLogo h1 {
  color: #F3AF3E;
}

.containrPage .boxContent {
  width: 90%;
  margin: auto;
}
.containrPage .boxContent .divText {
  width: 50%;
  margin: auto;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containrPage .boxContent .divText h2 {
  direction: rtl;
  color: #ced4da;
}
.containrPage .boxContent .divText h2 span {
  color: #F3AF3E;
}
.containrPage .boxContent .divText p {
  color: #ced4da;
}
.containrPage .boxContent .divText a {
  color: black;
  padding: 12px 30px;
  /* background-color: #F3AF3E; */
  background: linear-gradient(to right, #FF7B00, #FF8800 , #FF9500 , #FFA200 , #FFAA00 , #FFB700 , #FFC300 , #FFD000 , #FFDD00 );
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite;
  border-radius: 50px;
  font-size: 16px;
  transition: 0.3s;
  margin-top: 20px;
}
@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  0%{
    background-position: 0 50%;
  }
}

.containrPage .boxContent .divText a:hover {
  border-radius: 0px;
  font-weight: bold;
}

@media (max-width: 799px) {
  .containrPage {
    width: 100%;
  }
  .containrPage .containrHeader {
    flex-direction: column-reverse;
    gap: 5px;
  }
  .containrPage .containrHeader .boxSearch , .boxLogo {
    width: 100%;
  }
}
.displayToggle {
  display: none;
}
.containrPage .boxContentImg {
  width: 90%;
  margin: auto;
}
.containrPage .boxContentImg .divContentImg h2 {
  padding: 30px;
  color: #ced4da;
}
.containrPage .boxContentImg .divContentImg img{
  width: 100%;
  border-radius: 5px;
}
@media (min-width: 800px) and (max-width: 999px) {
  .containrPage {
    width: 700px;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .containrPage {
    width: 950px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .containrPage {
    width: 1050px;
  }
}